name: Release

on:
  push:
    branches: [ main ]

jobs:
  release-linux-amd64-web:
    name: "Release Linux AMD64 and Web"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update && \
        sudo apt-get install -y --no-install-recommends \
        ninja-build

        sudo wget https://apt.llvm.org/llvm.sh
        sudo chmod +x llvm.sh
        sudo ./llvm.sh 20

    - name: Setup Emscripten
      uses: mymindstorm/setup-emsdk@v14

    - name: Configure CMake
      run: |
        cmake -B ${{github.workspace}}/build -GNinja \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_C_COMPILER=clang-20 \
        -DCMAKE_POSITION_INDEPENDENT_CODE=ON \
        -DBOX2D_AVX2=ON \
        -DBOX2D_DISABLE_SIMD=OFF \
        -DBUILD_SHARED_LIBS=OFF \
        -DBOX2D_SAMPLES=OFF \
        -DBOX2D_VALIDATE=OFF \
        -DBOX2D_UNIT_TESTS=OFF \
        -DCMAKE_C_FLAGS="-DB2_MAX_WORLDS=65534"

        emcmake cmake -B ${{github.workspace}}/web-build -GNinja \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_C_COMPILER=clang-20 \
        -DCMAKE_POSITION_INDEPENDENT_CODE=ON \
        -DBOX2D_AVX2=ON \
        -DBOX2D_DISABLE_SIMD=OFF \
        -DBUILD_SHARED_LIBS=OFF \
        -DBOX2D_SAMPLES=OFF \
        -DBOX2D_VALIDATE=OFF \
        -DBOX2D_UNIT_TESTS=OFF \
        -DCMAKE_C_FLAGS="-DB2_MAX_WORLDS=65534"

    - name: Build
      run: |
        cmake --build ${{github.workspace}}/build --config Release
        cmake --build ${{github.workspace}}/web-build --config Release

    - name: Package
      run: |
        mkdir -p box2d-linux-amd64/src
        cp -r include box2d-linux-amd64
        cp src/*.h box2d-linux-amd64/src
        cp -r box2d-linux-amd64 box2d-web
        cp build/src/libbox2d.a box2d-linux-amd64
        cp web-build/src/libbox2d.a box2d-web
        tar -czvf box2d-linux-amd64.tar.gz box2d-linux-amd64
        tar -czvf box2d-web.tar.gz box2d-web

    - name: Create Tag
      run: |
        git config user.name "GitHub Actions"
        git config user.email "github-actions@users.noreply.github.com"
        TAG="$(echo ${{github.sha}} | head -c 8)"
        git tag "${TAG}"
        git push origin "${TAG}"

        echo "TAG=${TAG}" >> ${GITHUB_ENV}

    - name: Upload Artifact to Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ${{github.workspace}}/box2d-linux-amd64.tar.gz
          ${{github.workspace}}/box2d-web.tar.gz
        tag_name: ${{env.TAG}}
        make_latest: true

  release-macos-arm64:
    name: "Release macOS ARM64"
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: |
        cmake -B ${{github.workspace}}/build -GNinja \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_POSITION_INDEPENDENT_CODE=ON \
        -DBOX2D_DISABLE_SIMD=OFF \
        -DBUILD_SHARED_LIBS=OFF \
        -DBOX2D_SAMPLES=OFF \
        -DBOX2D_VALIDATE=OFF \
        -DBOX2D_UNIT_TESTS=OFF \
        -DCMAKE_C_FLAGS="-DB2_MAX_WORLDS=65534"

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config Release

    - name: Package
      run: |
        mkdir -p box2d-macos-arm64/src
        cp build/src/libbox2d.a box2d-macos-arm64
        cp -r include box2d-macos-arm64
        cp src/*.h box2d-macos-arm64/src
        tar -czvf box2d-macos-arm64.tar.gz box2d-macos-arm64

    - name: Create Tag
      run: |
        git config user.name "GitHub Actions"
        git config user.email "github-actions@users.noreply.github.com"
        TAG="$(echo ${{github.sha}} | head -c 8)"
        git tag "${TAG}"
        git push origin "${TAG}"

        echo "TAG=${TAG}" >> ${GITHUB_ENV}

    - name: Upload Artifact to Release
      uses: softprops/action-gh-release@v2
      with:
        files: ${{github.workspace}}/box2d-macos-arm64.tar.gz
        tag_name: ${{env.TAG}}
        make_latest: true
